In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('data/팁309.csv')
df.head(3)

,Unnamed: 0,구분,질문,답변
0,0,팁,아파트를 매도할때 집 앞에 부동산에만 얘기를 할지동네 부동산에 전부다 얘기를 할지 ...,안녕하세요. 한결같은고양이32입니다.최소3군데가봐야정확한가격이나와요부동산중계소마다조...
1,1,팁,제꿈이 부동산을 운영하면서 매매도 열심히해드리고 돈도 많이벌고싶은 22살입니다 부동...,안녕하세요. 박어상 공인중개사입니다.부동산을 운영하고 돈을 버는 것은 나이와는 전혀...
2,2,팁,사정이 좋지않아서 지금 매수세가 없지만 집을 팔아야하네요ㅜㅜ근처부동산에는 전화돌려보...,안녕하세요. 홍성택 공인중개사입니다.지금 부동산시장이 얼어붙었죠.다들 관망중인듯요....

In [18]:
df.drop(columns=['Unnamed: 0','구분'], inplace=True)

In [19]:
df.head(3)

,질문,답변
0,아파트를 매도할때 집 앞에 부동산에만 얘기를 할지동네 부동산에 전부다 얘기를 할지 ...,안녕하세요. 한결같은고양이32입니다.최소3군데가봐야정확한가격이나와요부동산중계소마다조...
1,제꿈이 부동산을 운영하면서 매매도 열심히해드리고 돈도 많이벌고싶은 22살입니다 부동...,안녕하세요. 박어상 공인중개사입니다.부동산을 운영하고 돈을 버는 것은 나이와는 전혀...
2,사정이 좋지않아서 지금 매수세가 없지만 집을 팔아야하네요ㅜㅜ근처부동산에는 전화돌려보...,안녕하세요. 홍성택 공인중개사입니다.지금 부동산시장이 얼어붙었죠.다들 관망중인듯요....

In [20]:
# 결측치 확인
df.isna().sum().sum()

1

In [21]:
# 결측치 제거
df = df.dropna()
df.isna().sum().sum()

0

In [22]:
# 중복 데이터 확인
df.shape, df.답변.nunique()

((308, 2), 308)

In [23]:
# 한글 이외 데이터 삭제
df.답변 = df.답변.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', regex=True).str.strip()

In [24]:
# '' 제거
df.답변.replace('', np.nan, inplace=True)
df.답변.isna().sum()

0

In [25]:
df.to_csv('data/아하 전처리완료.tsv', sep='\t', index=False)

- 불용어 처리

In [26]:
with open('data/한글불용어100.txt') as st:
    lines = st.readlines()
stop_words = [line.split('\t')[0] for line in lines]

In [27]:
from konlpy.tag import Okt
okt = Okt()

In [28]:
from tqdm import tqdm
answers = []
for 답변 in tqdm(df.답변):
    morphs = okt.morphs(답변, stem=True)
    clean_morph_review = ' '.join([morph for morph in morphs if morph not in stop_words])
    answers.append(clean_morph_review)

100%|██████████| 308/308 [00:08<00:00, 34.25it/s]

In [29]:
df['processed'] = answers
df.to_csv('data/아하 형태소처리완료.tsv', index=False)